# From https://github.com/github/gitignore/blob/main/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv

# Tests
.pytest_cache/
.mypy_cache/

# Distribution / packaging
.Python
build/
dist/
downloads/

# Data
data/